/* ========== Google Fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,500;0,700;1,700&display=swap');


/* ========== CSS Variables =========== */
:root {
  --primary-color: #f94a3d;
  --secondary-color: #69697b;
  --light-black: #212244;
  --black-color: #000000;
  --hover-color: #10bbda;
  --green-color: #69ae14;
  --white-color: #fff;
  --grey-1: #828282;
  --grey-2: #e9d7d3;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
  --transition: all 300ms ease-in-out;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--secondary-color);
  background-color: var(--white-color);
  color: var(--black-color);
}

h1,
h2,
h3 {
  color: var(--light-black);
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--hover-color);
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--hover-color);
  transition: var(--transition);
}

li {
  list-style-type: none;
}

section {
  padding: 5rem 0;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn:hover {
  background-color: var(--light-black);
  color: var(--hover-color);
  transition: all 300ms ease-in-out;
}

/* ========== Custom Classes =========== */
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
}


@media (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

/* Section Class */
.section {
  padding: 10rem 0 5rem 0;
  overflow: hidden;
}

.section .title {
  text-align: center;
  margin-bottom: 5rem;
}

.section .title h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.section .title span {
  color: var(--grey-1);
}



/* =================Header Start================ */

.header {
  position: relative;
  /* min-height: 100vh; */
  overflow-x: hidden;
}

.top-nav {
  background-color: var(--primary-color);
  font-size: 1.3rem;
  color: var(--white-color);
}

.top-nav div {
  justify-content: space-between;
  height: 4.5rem;
}

.top-nav a {
  color: var(--white-color);
  padding: 0 0.5rem;
}

.logo h1 {
  font-size: 5rem;
  font-family: 'Yrsa', serif;
  color: var(--primary-color);
}

/*=================Navigation=================*/

.navigation {
  height: 6rem;
  line-height: 6rem;
}

.nav-center {
  justify-content: space-between;
}

.nav-list .icons {
  display: none;
}

.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
}

.nav-center .nav-link:hover {
  color: var(--hover-color);
}

.nav-center .logo h1:hover {
  transform: translateY(-1px);
  transition: all 0.2s;
  font-weight: 1500px !important;
}

.nav-center .hamburger {
  display: none;
  font-size: 2.3rem;
  color: var(--black-color);
  cursor: pointer;
}

/*=================Icons=================*/

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #555;
  position: relative;
}

.icon i:hover {
  color: var(--hover-color);
}

.icon:not(:last-child) {
  margin-right: 0.5rem;
}

.icon span {
  position: absolute;
  top: 3px;
  right: -3px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 50%;
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 12%;
    left: -35rem;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 100%;
    width: 0%;
    max-width: 35rem;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }

  .nav-list.open {
    left: 0;
    width: 100%;
  }

  .nav-list .nav-item {
    margin: 0 0 1rem 0;
    width: 100%;
  }

  .nav-list .nav-link {
    font-size: 2rem;
    color: var(--black-color);
  }

  .nav-center .hamburger {
    display: block;
    color: var(--black-color);
    font-size: 3rem;
  }

  .icons {
    display: none;
  }

  .nav-list .icons {
    display: flex;
  }

  .top-nav ul {
    display: none;
  }

  .top-nav div {
    justify-content: center;
    height: 3rem;
  }
}

/* =================Header End================ */

/*=================Main Section Start=================*/

/* PRODUCTS */
.section .product-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.product {
  overflow: hidden;
}

.product .img-container {
  position: relative;
  cursor: pointer;
}

.product .img-container img {
  object-fit: cover;
  /* height: 100%; */
  max-height: 25rem;
  width: 100%;
  min-height: 30rem;
  border-radius: 3%;
}

.product .bottom {
  padding: 1rem;
  text-align: center;
}

.product .bottom a {
  margin-bottom: 1rem;
  font-weight: inherit;
  font-size: 1.5rem;
}

.product .bottom a:hover {
  color: var(--hover-color);
}

.product .bottom span {
  color: var(--primary-color);
  font-size: 1.8rem;
}

.product .bottom .cancel {
  font-size: 1.4rem;
  color: var(--grey-1);
  text-decoration: line-through;
}

.product .addCart {
  position: absolute;
  right: 3px;
  bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 50%;
  padding: 1.3rem 1.6rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

.product:hover .addCart {
  border-radius: 1rem 0 0 0;
}

.product .addCart:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.product i {
  transition: all 300ms ease-in-out;
}

.product .side-icons {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translate(80%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 500ms ease-in-out;
}

.product .side-icons span {
  font-size: 1.4rem;
  background-color: var(--white-color);
  margin: 0.3rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.product .side-icons span:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.product:hover .side-icons {
  transform: translate(0%, -50%);
}

@media (max-width: 996px) {
  .prodouct-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .prodouct-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 567px) {
  .prodouct-layout {
    grid-template-columns: 1fr;
  }
}

/* ADVERTS */
.advert .advert-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.advert-layout .item {
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

.advert-layout img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 300ms ease-in-out;
}

.advert-layout .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.advert-layout .left {
  right: 5%;
}

.advert-layout .right {
  left: 10%;
}

.advert-layout .content span {
  display: block;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.advert-layout .content h3 {
  font-size: 3rem;
  font-weight: inherit;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.advert-layout .content a {
  transition: all 300ms ease-in-out;
}

.advert-layout .content a:hover {
  color: var(--light-black);
}

.advert-layout .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.advert-layout .item:hover::after {
  background-color: rgba(226, 111, 58, 0.521);
}

.advert-layout .item:hover .content {
  color: var(--white-color);
}

.advert-layout .item:hover img {
  transform: scale(1.1);
}

@media (max-width: 996px) {
  .advert-layout .left {
    right: 5%;
  }

  .advert-layout .right {
    left: 5%;
  }
}

@media (max-width: 768px) {
  .advert .advert-layout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 567px) {
  .advert-layout .content span {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }

  .advert-layout .content h3 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .advert-layout .content a {
    transition: all 300ms ease-in-out;
  }
}

/*===================== Main Section End ====================*/

/*===================== Contact Start====================*/

.contact {
  background-color: var(--black-color);
  color: var(--white-color) !important;
  padding: 10rem 20rem;
}

.contact .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contact .row .col h2 {
  margin-bottom: 1.5rem;
  color: var(--white-color) !important;
  font-weight: 540;
}

.contact .row .col p {
  width: 70%;
  margin-bottom: 2rem;
  font-weight: 450;
  font-size: 18px;
}

.btn-1 {
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.contact form div {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.contact form input {
  font-family: "Roboto", sans-serif;
  text-indent: 2rem;
  font-size: 16px;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 0;
  outline: none;
  border: none;
}

.contact form .btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1.7rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 996px) {
  .contact {
    padding: 8rem 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .contact .row {
    grid-template-columns: 1fr;
    gap: 5rem 0;
  }

  .contact form div {
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .contact {
    padding: 8rem 1rem;
  }

  .contact .row .col {
    text-align: -webkit-center;
  }
}
/* ========== Contact End =========== */


/* ==============================Popup Start ============================== */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: 0.3s;
  transform: scale(1);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  height: 55rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: var(--white-color);
}

.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.popup-close {
  font-size: 3rem;
  color: white;
}

.popup-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img-container {
  width: 100%;
  overflow: hidden;
}

.popup-img-container img.popup-img {
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right-content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.right-content h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.right-content h1 span {
  color: var(--primary-color);
}

.right-content p {
  font-size: 1.6rem;
  color: #555;
  margin-bottom: 1.6rem;
}

.popup-form {
  width: 100%;
  padding: 1.5rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.8rem;
  border: none;
}

.popup-form::placeholder {
  color: white;
}

.popup-form:focus {
  outline: none;
}

.right-content a:link,
.right-content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--grey-2);
  transition: 0.3s;
}

.right-content a:hover {
  background-color: var(--light-black);
  color: var(--hover-color);
  border: 1px solid var(--grey-2);
}

.hide-popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .right-content {
    width: 100%;
  }

  .right-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 998px) {
  .popup-right {
    width: 100%;
  }

  .popup-left {
    display: none;
  }

  .right-content h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .right-content h1 {
    font-size: 4rem;
  }

  .right-content p {
    font-size: 1.6rem;
  }

  .popup-form {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }

  .goto-top:link,
  .goto-top:visited {
    right: 5%;
    bottom: 5%;
  }
}

@media only screen and (max-width: 568px) {
  .popup-right {
    padding: 0 1.6rem;
  }

  .popup-content {
    height: 35rem;
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    width: 100%;
  }

  .right-content h1 {
    font-size: 3rem;
  }

  .right-content p {
    font-size: 1.4rem;
  }

  .popup-form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

  .right-content a:link,
  .right-content a:visited {
    padding: 1.5rem 3rem;
  }

  .popup-close {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
  }
}
/* ========== Popup End =========== */


/* ========== Statistics Start =========== */
.statistics {
  padding: 10rem 0;
  background: linear-gradient(to bottom,
      rgba(252, 203, 144, 0.15),
      rgba(255, 185, 188, 0.1));
}

.statistics .title {
  margin-bottom: 10rem;
  text-align: center;
}

.statistics .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.statistics .row .col {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.statistics .row .col .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 11rem;
  font-size: 4rem;
  background: var(--white-color);
  border-radius: 1rem;
  box-shadow: var(--box-shadow-1);
  color: var(--hover-color);
  margin-bottom: 6rem;
  transition: var(--transition);
}

.statistics .row .col .icon:hover {
  background-color: var(--primary-color);
  color: var(--hover-color);
  box-shadow: var(--box-shadow-2);
}

.statistics .row .col h3 {
  margin-bottom: 1.2rem;
}

.statistics .row .col p {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .statistics .row .col .icon {
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
  }

  .statistics .row .col p {
    width: 80%;
    margin: 0 auto;
  }
}

/* ========== Statistics End=========== */

/* ========== FAQ Section Start=========== */

#accordian {
  background: linear-gradient(to bottom, rgba(252, 203, 144, 0.15), rgba(255, 185, 188, 0.1));
}

.accordian {
  /* background-color: white; */
  padding: 8px 5px;
  margin-bottom: 16px;
  border-radius: 0px;
  box-shadow: 1px 1px 5px rgb(255, 205, 255);
  cursor: pointer;
  max-width: 80rem;
  margin: 10px 0px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question h4{
  line-height: 1.2;
  font-weight: 500;
}

.question:hover {
  color: var(--hover-color);
}

.accordian .icon {
  margin-right: 10px;
  transition: transform 0.2s;
}

.accordian .icon.active {
  transform: rotate(-180deg);
}

.answer {
  color: #666;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
  line-height: 0.1px;
}

/* ========== FAQ Section End=========== */


/* ========== Footer Styling Start =========== */

.footer {
  background-color: var(--black-color);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white-color);
}

.footer-center a {
  font-weight: 400;
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: #f1f1f1;
  font-size: 1.5rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(--hover-color);
}

.footer-center div {
  color: #f1f1f1;
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white !important;
}

.footer .payment-methods {
  margin-top: 2rem;
}

@media (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
/* ========== Footer Styling End =========== */

/* ========== Footer Bottom Start =========== */

.footer-bottom {
  background-color: var(--primary-color);
  padding: 1.5rem 0;
}

.footer-bottom .row {
  justify-content: space-between;
}

.footer-bottom .row p {
  color: var(--white-color);
}

.footer-bottom .row p a {
  color: var(--black-color);
  font-weight: 600;
}

.footer-bottom .row p a:hover {
  color: var(--hover-color);
}

@media (max-width: 768px) {
  .footer-bottom .row {
    flex-direction: column;
  }
}

/* ========== Footer Bottom End =========== */